@import "tailwindcss";

@theme {
  /* ACCENTS */
  --color-accent: #10b981;
  --color-danger: #b9103a;
  --color-ghost: #7c919d;

  /* BACCKGROUND */
  --color-main-bg: #171716;
  --color-card-bg: #272b2f;

  /* FORNT */
  --color-font-main: #f1f5f6;
  --color-font-muted: #718590;
}

body {
  background-color: #171716;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #171716 inset !important;
  -webkit-text-fill-color: #f1f5f6 !important;
  transition: background-color 5000s ease-in-out 0s;
}
